{% extends 'base.html' %}

{% block body%}
<div class = "gradient">
    <h1>Новая цитата</h1>
    <p class = "new-quote">
        Заполните форму, чтобы создать свою цитату
    </p>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form action={{url_for('add_quote')}} method="post">
        <p><textarea name="quote" rows=7 cols=80 required></textarea>
        <p>
            <input type="submit" value = "Отправить" class="b1">
            <a href = {{url_for('index')}}><button class="b2" type="button">Домой</button></a>
    </form>
</div>
{% endblock %}